 

<hibernate-configuration> 

    <session-factory> 

        <!-- Database Connection Settings --> 

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property> 

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property> 

        <property name="hibernate.connection.username">root</property> 

        <property name="hibernate.connection.password">Mysql</property> 

  

        <!-- Hibernate Settings --> 

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 

        <property name="hibernate.show_sql">true</property> 

        <property name="hibernate.format_sql">true</property> 
        
        
        
        <mapping class="com.ManytoMany.ManytoMany.Student"/>
                <mapping class="com.ManytoMany.ManytoMany.Course"/>

        

         </session-factory> 
         
         
         

</hibernate-configuration> 